// Navbar


// footer

.footer{
  background:#F5F5F5;
  text-align: center;
  p{
    padding: 16px 0px;
  }
}


// button

@mixin button($font-size){
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 1.5*$font-size;
  padding: 0.5*$font-size 2*$font-size;
  line-height: 1.5*$font-size;
  border: none;
  font-family: $font-family-Comfortaa;
}

// button styles
.btn-primary {
  background: $primary;
  color:white;
  font-family: $font-family-Comfortaa;

}
.btn-outline-primary{
  color: $primary;
  font-family: $font-family-Comfortaa;
  outline: 1px solid $primary;
  background: white;
}
.btn-danger{
  background: $danger;
  color:white;
}


// button Top

.btn-toTop{
  background: $primary;
  color:white;
  text-align: center;
  border-radius:50% 50%;
  font-size: 17px;
  width: 71px;
  height: 71px;
  font-family: $font-family-Wendy;
  position: fixed;
  z-index:50;
  right: 48px;
  bottom: 23px;
  border:none;
}


@media(max-width: 376px){
  .btn-toTop{
  right: 16px;
  bottom: 16px;
  font-size: 14px;
  height: 50px;
  width: 50px;
  z-index: 1000;
  }
}

