@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Noto+Sans+TC:wght@400;700&family=Wendy+One&display=swap');


// color
$primary: #56C4C5;
$dark: #221E1F;
$warning:#F5CA52;
$yellow:#FFD153;
$danger:#FF5D50;

.primary{
  color: $primary;
}
.warning{
  color: $warning;
}

// font-family
$font-family-Noto-TC:  'Noto Sans TC', sans-serif;
$font-family-Comfortaa: 'Comfortaa', cursive;
$font-family-Bebas: 'Bebas Neue', cursive;
$font-family-Wendy: 'Wendy One', sans-serif;
// font-size
$font-size-base:1rem;
// font-weight
$font-weight-normal:400; 
$font-weight-bold: 700;




// utilities