@import "variables";
@import "reset";
@import "base";

*,*::before,*::after{
  box-sizing: border-box;//確保內容向內推，並自己計算
}

*{outline:1px solid black};

img{
  max-width: 100%;
  height: auto;
} 

.index-bg{
  padding: 0;
width: 100%;
  position: absolute;
  background-image: url('../images/bg_home.svg'), url('../images/ball01.svg'), url('../images/ball02.svg'), url('../images/ball03.svg');
  background-repeat:no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: right 0px top 0px, left -222px top calc(100vh - 180px),  right -100px top 215vh, 50px 4827px;
  background-size: auto 768px, 360px 360px, 310px 310px, 150px 150px;
}
@media(max-width: 376px){
  .index-bg {
      background-image: url('../images/bg_home_sm.svg'), url('../images/ball01.svg'), url('../images/ball02.svg'), url('../images/ball03.svg');
  background-position: 20px 391px , left -77px top 743px, right -47px top 3067px, -76px 600vh;
  background-size: 334px 245px, 126px 126px, 135px 135px, 153px 153px;
}
}
// 排版口訣: 上下用pixel 左右用%
// 線索說明1: container 容器 00:00 ~ 大概10分
// 先看寬度，先看中間內容的部份，取中間內容左右貼齊處
// 點卡片按住alt 就能看到間距 260*4+16*3 =1088
// 大部分開會開960~1440px 以設計師而定，但不會開1920，這會是滿版，需考量居中的內容
// 注意: RWD外層寬度是max-width

// 建議先做footer => 先做有把握的部份
// container 維持容器，額外設定檔放在footer上

// 17:20 .footer-plan 美好用戶體驗區塊
.container{
  width: 100%; //單寫width就會出現x軸了
  padding:0 139px;
}
@media(max-width: 376px){
  .container{
      padding: 0 20px;
  }
}


@mixin button($font-size){
    display: inline-block;
   text-align: center;
  vertical-align: middle;
  border-radius: 1.5*$font-size;
  padding: 0.5*$font-size 2*$font-size;
  line-height: 1.5*$font-size;
  border: none;
}
.btn-toTop{
  background: $primary;
  color:white;
  text-align: center;
  border-radius:50% 50%;
  font-size: 17px;
  width: 71px;
  height: 71px;
  font-family: $font-family-Wendy;
  position: fixed;
  z-index:50;
  right: 48px;
  bottom: 23px;
  border:none;
}
@media(max-width: 376px){
  .btn-toTop{
  right: 16px;
  bottom: 16px;
  font-size: 14px;
  height: 50px;
  width: 50px;
  z-index: 1000;
  }
}

.btn-primary {
  background: $primary;
  color:white;

}
.btn-danger{
  background: $danger;
  color:white;

}
.header{
  width: 100%;
  height: 100vh;
  .navbar{
  padding: 24px 0;
  .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .logo{
    a h1{
    display: block;
    background:url('../images/logo.png');
    width: 219px;
    height: 40px;
    background-size: cover;
    text-indent: 101%;
    white-space:nowrap;
    overflow:hidden;
    }
  }
  .price{
    &-btn{
    @include button(16px);
      }
    }
  }
  .banner{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    .col-6{
      width: 50%;
      img{
        max-width:532px; 
        height:auto; 
        display:block ;
        margin-left:auto;
      }
    }
    &-section {
      p{
        font-size: 20px;
        font-weight: bold;
        color: $primary;
        line-height: 26px;
      }
      &-title{
        font-size: 48px;
        font-weight: bold;
        line-height: 70px;
      }
      &-subTitle{
        margin-top: 16px;
        font-size: 20px;
        line-height: 29px;
        
      }
    }
  }
}
@media(max-width: 376px){
  .header{
    
     .navbar {
      border-bottom: 1px solid $warning;

      .logo {
        a h1 {
          width: 131px;
          height: 24px;
        }
      }
    }
  .banner{
    display: block;
    .col-6{
      width: 100%;
      img{
        margin-left: 0px;
        }
      }
    &-section {
       p{
        font-size: 16px;
        line-height: 26px;
      }
      &-title{
        font-size: 32px;
        line-height: 46px;
      }
      &-subTitle{
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        
      }
    }
  }
}
}

.area-1{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  &-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 46px;
  }
  .social-media{
  display: flex;
  justify-content: space-around;
  .col-4{
    width: 244px;
  }
  &-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    &-img{
      width: 90px;
      height: 90px;
      display: block;
      margin: 0 auto;
    }
    &-title{
      font-size: 24px;
      font-weight: bold;
      line-height: 35px;
      margin: 24px 0px;
      color: $dark;
      white-space:nowrap;
    }
    &-subTitle{
      font-size: 16px;
      line-height: 24px;
      color: #747474;
    }

  }
}
}
@media(max-width: 376px){
  .area-1{
      margin-top: 60px;
      margin-bottom: 60px;
     &-title{
         font-size: 28px;
    line-height: 40px;
    }
      .social-media{
  display: block;
  .col-4{
    width: 100%;
    margin-bottom: 24px;
    }
    &-card{
         &-img{
      width: 60px;
      height: 60px;
      display: block;
      margin: 0 auto;
    }
    &-title{
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
      margin: 16px 0px;
      color: $dark;
      white-space:nowrap;
    }
    }
   }
  }
}


.area-2{
  text-align: center;
  margin-bottom: 100px;
  &-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &-subtitle{
    font-size: 20px;
    margin-bottom: 48px;
  }
  &-card{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    width: 260px;
    background: white;
    &-group{
      display: flex;
      justify-content: space-between;
    }
    &-img{
      background: no-repeat center;
      height: 260px;
      border-radius: 12px 12px 0px 0px;
    }
    &-content{
      text-align: center;
      padding:1rem;
      &-title{
        color:$primary;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 1rem;
      }
      &-text{
        text-align: center;
        line-height: 24px;
        margin-bottom: 1rem;
      }
    }
  }
}

@media(max-width: 376px){
  .area-2{
  margin-bottom: 60px;
    &-title{
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
    &-subtitle{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 32px;
  }
    &-card{
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 24px ;
      &-group{
        display: block;
      }
      &-img{
        width: 100%;
        border-radius: 12px 12px 0px 0px;
      }
    }
  }
}

.area-3{
  display: flex;
  margin-bottom: 100px;
  .col-6{
    width: 50%;
    &:nth(2){
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .card{
    padding:2rem;
    width: 230px;
    margin-right: 47px;
    height: 280px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    &:nth-child(3){
      margin-top: 28px;
    }
    &:nth-child(4){
      margin-top: 28px;
    }   
    &-group{
      display: flex;
      flex-wrap:wrap;
      align-content: space-between;
    }
    &-icon{
      width: 86px;
      height: 86px;
      box-shadow: 0px 2px 10px #00000014;
      border-radius:50%;
      text-align: center;
      margin-bottom:24px ;
      line-height: 86px;
      img {
        height: 52px;
        width: 52px;
        vertical-align : middle;
      }
    }
    &-title{
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
    }
    p{
      margin:16px 0px;
      line-height: 24px;
      white-space: wrap;
    }
  }
  &-text{
    font-size: 18px;
    line-height: 26px;

    &-section{
          max-width: auto;
          margin-left: 20%;
    }
    &-title{
      font-size: 2rem;
      line-height: 46px;
      font-weight: bold;
      &:first-child{
        margin-top: 165px;
      }
      &:nth-child(2){
        margin-bottom: 16px;
      }
    }
    &-btn{
      @include button(18px);
          text-decoration: none;
          font-family: $font-family-Comfortaa;
          margin-top: 24px;
    }

  }
}

@media(max-width: 376px){
  .area-3{
    flex-direction:column-reverse;
      margin-bottom: 60px;
    .col-6{
      width: 100%;
    }
    .card{
      padding: 24px;
      margin: 0 auto 24px auto;
    }
    &-text{
         font-size: 16px;
    line-height: 24px;
        &-section{
          margin: 0 auto;
          text-align: center;
          }
            &-title{
      font-size: 24px;
      line-height: 40px;
      font-weight: bold;
      &:first-child{
        margin-top: 28px;
      }
    }
        &-btn{
          margin-top: 16px;
          margin-bottom: 32px;
    }
    }
  }

}

// .header{

// }
// .banner{

// }

.comment{

  padding-bottom: 100px;
  &-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 46px;
    margin-bottom: 104px;
  }
  &-card-group{
    display: flex;
    justify-content: space-between;
  }
  &-card{
    width: 32.5%;
    padding: 48px 32px 24px 32px;
    border-radius:12px;
    position:relative;
    box-shadow: 0px 2px 10px #00000014;
    background: white;
    &-avatar{
      position:absolute;
      left:32px;
      top:-56px;
      background-position:center center;
      background-size:cover;
      border-radius:50%;
      height: 80px;
      width: 80px;
    }
    hr{
      font-size: 1px;
      color:#DDDDDD;
      margin: 24px 0px;
    }
    &-title{
      font-weight: bold;
      margin-bottom: 24px;
    }
    &-footer{
      display: flex;
      justify-content: space-between;
      &-stars{
        width: 120px;
        height: 19px;
        background: url(../images/icon_star.svg) repeat-x ;
      }
      
    }
  }
  &-pagination-group{
    display: flex;
    justify-content: center;
  }
  &-pagination{
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin-top: 24px;
    .dot{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #DDDDDD;
    }
    :last-child{
      width: 16px;
      height: 10px;
      background: $warning;
      border-radius:50px;
    }
  }
}

@media(max-width: 376px){
  .comment{
    padding-bottom: 60px;
      &-title{
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 32px;
  }
    &-card-group{
    display: block;
  }
  &-card{
    width: 100%;
    &:nth-child(2){
      display: none;
    }
    &:nth-child(3){
      display: none;
    }

  }

  }
}

.footer{
  background:#F5F5F5;
  text-align: center;
  p{
    padding: 16px 0px;
  }
}
.footer-plan{
  background-image: url('../images/home_footer.svg');
  background-size: cover;
  background-position: center;
  padding-top: 260px;
  padding-bottom: 100px;
  text-align: center;
  vertical-align: center;
  p {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 48px;
    font-weight: bold;

  }
  &-btn{
    @include button(18px);
    text-decoration: none;
       font-family: $font-family-Comfortaa;
  }
  // background-size:cover;
  // 建議用padding 也可以把高度寫死，主要看當下使用場景
}
// .wrap{
//   min-width: 1080px;
//   margin: 0 auto;
// }

@media(max-width:376px){
  .footer-plan{
  background-image: url('../images/footer_sm.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 293px;
  padding-bottom: 60px;
  text-align: center;
  vertical-align: center;
  p {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 24px;

  }
}
}